.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(0, 0, 0);
}
.login-page{
  height: 100vh;
  width: 100%;
}

.login-spacer{
  height: 20vh;
}

.login-container{
  margin: auto;
  width: 380px;
  padding: 2vh;
  background-color: #fff;
}

.login-form{
  display: flex;
  flex-direction: column;
}

#login-fab {
  border-radius: 50%;
  height: 150px;
  margin: auto;
  min-width: 56px;
  width: 150px;
  overflow: hidden;
  background: rgb(17, 151, 105);
  box-shadow: 0 1px 1.5px 0 rgb(17, 151, 105), 0 1px 1px 0 rgb(17, 151, 105);
  margin-top: -165px;
  text-align: center;
  left: 0;
  right: 0;
}

#lock-icon{
  line-height: 56px;
  color: #fff;
}
.card-heading{
  text-align: center;
  color: rgba(0, 0, 0, 0.31);
  line-height: 0px;
}

.buttons .login{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.buttons .login > button{
  width: 100%;
}

.buttons .register{
  display: flex;
  padding-top: 2vh;
  padding-bottom: 2vh;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
